.popup__user-name {
  margin: 54px auto 0;
  padding-bottom: 10px;
  width: 358px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}
@media screen and (max-width: 620px) {
  .popup__user-name {
    max-width: 238px;
    margin-top: 70px;
  }
}
