.profile__img-add {
  background-image: url(../../../images/profile__+.svg);
  background-size: cover;
  width: 22px;
  height: 22px;
  margin: auto;
}
@media screen and (max-width: 620px) {
  .profile__img-add {
    width: 16px;
    height: 16px;
  }
}
