.elements__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/elements__like.svg);
  background-size: cover;
  outline: 1px solid red;
}
.elements__like:hover {
  opacity: 0.7;
}
